<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{{site.url}}/img/A26597EF-9957-42D6-915B-76A6BA2F3E3B.png" />
    <meta name="description" content="{{site.description}}">
    <meta name="twitter:card" content="summary_large_image" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
    <meta property="og:url" content="{{site.url}}{{page.url}}" />
    {% if page.title %}
    <meta property="og:title" content="{{page.title}}" />
    {% else %}
    <meta property="og:title" content="{{site.title}}" />
    {% endif %}
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <meta property="og:image" content="{{site.url}}/img/topimage.png" />
    <meta name="theme-color" content="	86AC8E">
    <title>{{ page.title }} - {{ site.title }}</title>
    <title>{{ site.title }}{% if page.title %} | {{page.title}}{% endif %}</title>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <meta name="google-site-verification" content="PyRBL2rQ_RB6UjO1rbC0uBXZN5qf3dbmnqoKkSrYOqQ" />
</head>
<script>
$(function(){
  $(window).scroll(function (){
    $('.fadein').each(function(){
      var elementTop = $(this).offset().top;
      var scroll = $(window).scrollTop();
      var windowHeight = $(window).height();
      if (scroll > elementTop - windowHeight + 100){
        $(this).addClass('head-anime');
      }
    });
  });
});
    </script>
<body>
    <div class="content" id="main">
        <div class="post-content">{{content}}</div>
    </div>
    {% include irai.html %}
    {% include footer.html %}
</body>
</html>
